#AUTH-SERVICE
AUTH_APP_NAME=AUTH_SERVICE
AUTH_APP_VERSION=v0.0.1
AUTH_APP_MODE=debug
# Postgres
#AUTH_POSTGRES_HOST=localhost
#AUTH_POSTGRES_PORT=5431
#AUTH_POSTGRES_DATABASE=postgres-auth
#AUTH_POSTGRES_USER=postgres-auth-user
#AUTH_POSTGRES_PASSWORD=postgres-auth-psw
#AUTH_POSTGRES_SSLMODE=disable
#GRPC
AUTH_GRPC_HOST=auth-service
AUTH_GRPC_PORT=50051
#KAFKA producer
#AUTH_PRODUCER_BROKERS=kafka:29092
#KAFKA consumer
#AUTH_CONSUMER_BROKERS=kafka:29092


#CHAT-SERVICE
CHAT_APP_NAME=CHAT_SERVICE
CHAT_APP_VERSION=v0.0.1
CHAT_APP_MODE=debug
# Postgres
CHAT_POSTGRES_HOST=postgresql-chat
CHAT_POSTGRES_PORT=5432
CHAT_POSTGRES_DATABASE=postgres-chat
CHAT_POSTGRES_USER=postgres-chat-user
CHAT_POSTGRES_PASSWORD=postgres-chat-psw
CHAT_POSTGRES_SSLMODE=disable
#GRPC
CHAT_GRPC_HOST=chat-service
CHAT_GRPC_PORT=50052
#KAFKA producer
CHAT_PRODUCER_BROKERS=kafka:29092
#KAFKA consumer
CHAT_CONSUMER_BROKERS=kafka:29092

#Social-service
SOC_APP_NAME=SOCIAL_SERVICE
SOC_APP_VERSION=v0.0.1
SOC_APP_MODE=debug
# Postgres
SOC_POSTGRES_HOST=postgresql-soc
SOC_POSTGRES_PORT=5432
SOC_POSTGRES_DATABASE=postgres-soc
SOC_POSTGRES_USER=postgres-soc-user
SOC_POSTGRES_PASSWORD=postgres-soc-psw
SOC_POSTGRES_SSLMODE=disable
#GRPC
SOC_GRPC_HOST=social-service
SOC_GRPC_PORT=50053
#KAFKA producer
SOC_PRODUCER_BROKERS=kafka:29092
#KAFKA consumer
SOC_CONSUMER_BROKERS=kafka:29092

#Users-service
USERS_APP_NAME=USERS_SERVICE
USERS_APP_VERSION=v0.0.1
USERS_APP_MODE=debug
# Postgres
USERS_POSTGRES_HOST=postgresql-users
USERS_POSTGRES_PORT=5432
USERS_POSTGRES_DATABASE=postgres-users
USERS_POSTGRES_USER=postgres-users-user
USERS_POSTGRES_PASSWORD=postgres-users-psw
USERS_POSTGRES_SSLMODE=disable
#GRPC
USERS_GRPC_HOST=users-service
USERS_GRPC_PORT=50054
#KAFKA producer
USERS_PRODUCER_BROKERS=kafka:29092
#KAFKA consumer
USERS_CONSUMER_BROKERS=kafka:29092

#Notification-service
NOTIFICATION_APP_NAME=NOTIFICATION_SERVICE
NOTIFICATION_APP_VERSION=v0.0.1
NOTIFICATION_APP_MODE=debug
# Postgres
NOTIFICATION_POSTGRES_HOST=postgresql-notification
NOTIFICATION_POSTGRES_PORT=5432
NOTIFICATION_POSTGRES_DATABASE=postgres-notification
NOTIFICATION_POSTGRES_USER=postgres-notification-user
NOTIFICATION_POSTGRES_PASSWORD=postgres-notification-psw
#GRPC
#NOTIFICATION_GRPC_HOST=localhost
#NOTIFICATION_GRPC_PORT=50052
#KAFKA producer
#NOTIFICATION_PRODUCER_BROKERS=localhost:9092
#KAFKA consumer
NOTIFICATION_CONSUMER_BROKERS=kafka:29092

