#CHAT-SERVICE
CHAT_APP_NAME=CHAT_SERVICE
CHAT_APP_VERSION=v0.0.1
CHAT_APP_MODE=debug

# Postgres
CHAT_POSTGRES_HOST=localhost
CHAT_POSTGRES_PORT=5432
CHAT_POSTGRES_DATABASE=postgres-chat
CHAT_POSTGRES_USER=postgres-chat-user
CHAT_POSTGRES_PASSWORD=postgres-chat-psw
CHAT_POSTGRES_SSLMODE=disable

#KAFKA producer
CHAT_PRODUCER_BROKERS=

#KAFKA consumer
CHAT_CONSUMER_BROKERS=
