# App
USERS_APP_NAME=my-super-app
USERS_APP_VERSION=v0.1.1
USERS_APP_MODE=production

# Postgres
USERS_POSTGRES_HOST=localhost
USERS_POSTGRES_PORT=5434
USERS_POSTGRES_DATABASE=postgres-users
USERS_POSTGRES_USER=postgres-users-user
USERS_POSTGRES_PASSWORD=postgres-users-psw
USERS_POSTGRES_SSLMODE=disable

#KAFKA producer
USERS_PRODUCER_BROKERS=

#KAFKA consumer
USERS_CONSUMER_BROKERS=
