#Social-service
SOC_APP_NAME=SOCIAL_SERVICE
SOC_APP_VERSION=v0.0.1
SOC_APP_MODE=debug
# Postgres
SOC_POSTGRES_HOST=localhost
SOC_POSTGRES_PORT=5433
SOC_POSTGRES_DATABASE=postgres-soc
SOC_POSTGRES_USER=postgres-soc-user
SOC_POSTGRES_PASSWORD=postgres-soc-psw
SOC_POSTGRES_SSLMODE=disable
#GRPC
SOC_GRPC_HOST=localhost
SOC_GRPC_PORT=50053
#KAFKA producer
SOC_PRODUCER_BROKERS=localhost:9092
#KAFKA consumer
SOC_CONSUMER_BROKERS=localhost:9092
