# App
APP_NAME=my-super-app
APP_VERSION=v0.1.1
APP_MODE=production

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DATABASE=postgres-users
POSTGRES_USER=postgres-users-user
POSTGRES_PASSWORD=postgres-users-psw
POSTGRES_SSLMODE=disable

#KAFKA producer
PRODUCER_BROKERS=

#KAFKA consumer
CONSUMER_BROKERS=
